@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }
  h1 { @apply text-3xl font-semibold; }
  h2 { @apply text-2xl font-semibold; }
  h3 { @apply text-xl font-medium; }
}